<div id="draw-settings">
    <input type="color" id="draw-color" value="#ffffff" title="Stroke color"/>
    <button id="draw-pen-btn" class="btn draw-mode-btn active" title="Pen"><img class="draw-mode-icon" src="/assets/icons/pen.png" alt=""></button>
    <button id="draw-eraser-btn" class="btn draw-mode-btn" title="Eraser"><img class="draw-mode-icon" src="/assets/icons/eraser.png" alt=""></button>
    <input type="range" id="draw-size" min="1" max="40" value="3" title="Brush size"/>
    <div class="toolbar-divider"></div>
    <button id="draw-front-btn" class="btn draw-mode-btn active">Front</button>
    <button id="draw-back-btn" class="btn draw-mode-btn">Behind</button>
</div>

